USE master
GO

CREATE DATABASE TEST
GO

USE [TEST]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 15/10/2020 16:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_DOCUMENTO] [int] NOT NULL,
	[NUMERO_DOCUMENTO] [varchar](100) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[CORREO] [varchar](150) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 15/10/2020 16:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID], [ID_TIPO_DOCUMENTO], [NUMERO_DOCUMENTO], [NOMBRE], [CORREO]) VALUES (1, 1, N'CARLOS ', NULL, N'M')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
SET IDENTITY_INSERT [dbo].[TIPO_DOCUMENTO] ON 

INSERT [dbo].[TIPO_DOCUMENTO] ([ID], [DESCRIPCION]) VALUES (1, N'AFP 1')
INSERT [dbo].[TIPO_DOCUMENTO] ([ID], [DESCRIPCION]) VALUES (2, N'AFP 2')
INSERT [dbo].[TIPO_DOCUMENTO] ([ID], [DESCRIPCION]) VALUES (3, N'AFP 3')
SET IDENTITY_INSERT [dbo].[TIPO_DOCUMENTO] OFF
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_TIPO_DOCUMENTO] FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_TIPO_DOCUMENTO]
GO
